@import "../../variables";

.header {
  background: $base-color;
  color: $font-color;
  padding: 18px 5px 18px 30px;
  border-bottom: 1px solid #fff;

  &__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__update {
    transition-duration: .5s;

    &__wrapper {

      &:hover .header__update {
        transform: scale(1.2);
      }
    }
  }
}