@import "../../variables";

.header {
  background: $base-color;
  color: $font-color;
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #fff;

  &__caption {
    padding-left: 10px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__update {
    transition-duration: .5s;

    &:hover {
      transform: scale(1.2);
    }

    &__wrapper {
      position: absolute !important;
      top: 4px;
      right: 8px;
    }
  }
}